body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

table {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

td {
    width: 4vw;
    height: 5vh;
    padding: 0;
    margin: 0;
}

td input {
    width: 4vw;
    height: 5vh;

    text-align: center;
    font-size: 20px;
    border: 3px solid;
}